@import "sizeSelector";
@import "variables";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: $softPurple;
  text-decoration: inherit;

  &:hover {
    color: $purple;
  }

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }
}

button
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  &.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
}

input[type='search'] {
  padding: 0.5rem;
  border: 2px solid $softPurple;
  border-radius: 8px;
  margin-right: 0.5rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 0;

  li {
    list-style: none;
  }
}

.image {
  display: flex;
  flex-direction: column;
}

.preload {
  width: 60px;
  height: 60px;
  border: 8px solid #ffffff;
  border-top: 8px solid $softPurple;
  border-radius: 50%;
  animation: spin 0.7s ease-in-out infinite;
  margin: 50px auto;
  backdrop-filter: blur(100px);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.imageLink {
  height: 90%;
  cursor: pointer;
}

.imageInfo {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  color: white;
  display: none;
  transition: all 0.5 ease-in-out;

  a {
    text-decoration: none;
    color: white;
  }
}

.imageStats {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bi.bi-heart {
  transform: scale(1.1);
  transform: translateY(1px);
}

.image:hover .imageInfo{
  display: flex;
  transition: all 0.5 ease-in-out;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;

  img {
    max-height: 80vh;
  }  
}

#nav{
  position: absolute;
  top: 30px;
  left: 50px;
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: none;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}